# Ignore node_modules
node_modules/

# Ignore build output directory
dist/

# Ignore environment variables file
.env

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore npm debug log files
npm-debug.log*